/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    color: #000;
    background-color: #fff;
    width: 100%;
}
.social-media{
    padding-top: 18px;
}
.social-media a{
    font-size: 20px;
    padding-left: 5px;
}
/* Fin footer */