header{
    width: 100%;
}

/* Barre de navigation */
nav{
    display: flex;
    flex-wrap: wrap;/*dropdown*/
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav .option{
    display: flex;
    justify-content: center;
}
.logomenu img{
    width: 60px;
    height: auto;
    margin-left: 30px;
}
nav h1{
    font-size: 20px; 
}
nav .onglets{
    display: flex;
    flex-wrap: wrap;
}
nav .onglets a{
    font-size: 17px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
nav .onglets a:hover{
    color: rgb(10, 114, 199);
}
nav .onglets p{
    font-size: 20px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
}
nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}


/*Menu Deroulant*/
.dropdown{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}
.dropdown::before{
    content: '';
    position: absolute;
    top: 23px;
    right: 28px;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(40deg);
    transition: 0.5s;
}
.dropdown.active::before{
    right: 20px;
}
.dropdown::after{
    content: '';
    position: absolute;
    top: 23px;
    right: 20px;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(-40deg);
    transition: 0.5s;
}
.dropdown.active::after{
    right: 28px;
}
.dropdown .option{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 95%;
    top: 45px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.dropdown.active .option{
    visibility: visible;
    opacity: 1;
}
.dropdown .option a{
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
}
.dropdown .option a:hover{
    background-color: #2b2a2a;
    color: rgb(10, 114, 199);
}
.bars i{
    padding: 5px;
}
/* Fin barre de navigation */

/*Pop Up*/
.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid pink;
}

.popup_container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none; /*fait disparaitre la section on ne que la voir en cliquant sur le profile image dans le header*/
    justify-content: center;
    align-items: center;
}
.popup_container.active{
    display: flex; /*active ajouter dans la class popup_container du css*/
} 
.popup{
    height: 460px;
    width: 800px;
    color: #000000;
    font-size: larger;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    display: grid; /*separe en 2 l'ecran popup coté photo et coté texte*/
    grid-template-columns: repeat(2, 1fr);/*repete 2 fois avec 1 fraction*/
    gap: 10px;
    animation: animationA .1s ease-in-out .1s backwards;
}
.image_container{
    position: relative;
    height: 460px;
    width: 400px;
}
.image_container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.description{
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
} 
.description_heading{
letter-spacing: 5px;
text-align: center;
}
.description p{
    color: #000000;
}
/*ANIMATION*/
@keyframes animationA {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }

}
/*Fin Pop Up*/
/* Media queries */
@media screen and (max-width: 600px){
    nav .onglets .link, nav h1
    {
        display: none;
    }
    nav 
    {
        display: flex;
        justify-content: space-evenly;
    }
    .logomenu img{
        display: none;
    }
}
@media screen and (min-width:1000px){
    .dropdown
    {
        display: none;
    }
}
@media screen and (max-width: 1000px){
    nav .onglets .link, nav h1
    {
        display: none;
    }
    nav 
    {
        display: flex;
        justify-content: space-evenly;
    }
    .logomenu img{
        display: none;
    }
}


/* Fin Media queries */