@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: 'gta';
    src: url('../police/gta.ttf');
}
.gta{
    font-family: 'gta', Courier, monospace;
    font-size: 1.5em;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background-image: url(../images/wallpapers/back.png);
    background-size: 100%; */
    background-color: black;
}

audio{
    border-radius: 5px;
    color: white;
    padding: 0;
    margin: 0;
}
/* Aside */
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.presentation{
    display: flex;
    border: solid white 5px;
    margin: 10px;
}
section h1{
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}
section p{
    color: #fff;
    margin-left: 15px;
}
.imgpresentation img{
    height: 180px;
    width: auto;
}
.imgpresentationresp img{
    height: 120px;
    width: 340px;
    margin-left: 10px;
    display: none;
}

aside label{
    display: none;
}

/*Carousel*/
.carousel{
    display: grid;
    place-items: center;
    margin-top: 30px;
}
.slider{
    background: #fff;
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;/*Scroll Time*/
}
.slide-track:hover{
    animation-play-state: paused;
}
/*Auto Scroll*/
@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}
/*Fin Auto Scroll*/
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 5px;
    perspective: 100px;
}
img{
    height: 240px;
    width: 100%;
    transition: transform 1s;
}
img:hover{
    transform: translateZ(20px);
}
/*Fin Carousel*/

/* Media queries */

@media screen and (max-width: 600px){
    nav .onglets .link, nav h1
    {
        display: none;
    }
    nav 
    {
        display: flex;
        justify-content: space-evenly;
    }
    .logomenu img{
        display: none;
    }
    section h1{
        font-size: 40px;
    }
    .imgpresentation img{
        display: none;
    }
    .imgpresentationresp img{
        display: block;
    }
}

@media screen and (min-width:1000px){
    .dropdown
    {
        display: none;
    }
}
/* Fin Media queries */

/*
.xdebug-var-dump
{
    color: #fff;
}*/